{% extends "base.html" %}

{% block content %}
    <h1>About</h1>
    <h2>Kobe Bryant</h2>
    <p>Kobe Bryant was an American professional basketball player widely regarded as one of the greatest athletes in the history of the sport.
    He was also known for his strong work ethic and
    competitive mindset, often referred to as the "Mamba Mentality.
    </p>

    <h2>About the Creator</h2>
    <p>Hi, my name is Stanley. I am a junior Computer Science student at Boston University.
    I created this website as a project to showcase Kobe Bryant's life as well as enhancing 
    my skills in web development. I chose Kobe Bryant because I admire his work ethic and his Mamba Mentality.
    </p>
{% endblock %}
    
    