{% extends "restaurant/base.html" %}

{% block content %}
    <h1>Welcome!</h1>
    <h3>200 Yama St, Brookline, MA 12345</h3>
    <p>Welcome to Yama Restaurant! We serve comforting bowls of ramen made with flavorful broth, 
        fresh noodles, and carefully chosen toppings. We hope you’ll feel right at home.</p>
    <img src="https://assets.epicurious.com/photos/63c17f620a2588545b65efc9/1:1/w_2968,h_2968,c_limit/Atsuko-p-85_VOG_final.jpg" alt="Bowl of ramen" width="400">
    <h4>Hours of Operation: </h4>
    <p>Monday - Thursday: 11:00 AM - 9:00 PM</p>
    <p>Friday - Saturday: 11:00 AM - 10:00 PM</p>
    <p>Sunday: closed</p>
{% endblock %}